<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <h4 class="lert alert-info text-center px-3",  style = "border: 1px solid #999999;" >ショッピングカート</h4>
        <%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class: 'btn btn-danger', data: { confirm: '本当にカートを空にしますか？' } %>
      </div>
    </div>
　　<div class="col-md-12">
　　　 <table class="table table-bordered">
           <thead class="thead-secondary bg-info text-white">
              <tr>
                <th scope="col" class="alert alert-info",  style = "border: 1px solid #999999;" >商品名</th>
                <th scope="col" class="alert alert-info",  style = "border: 1px solid #999999;" >単価(税込)</th>
                <th scope="col" class="alert alert-info",  style = "border: 1px solid #999999;" >数量</th>
                <th scope="col" class="alert alert-info",  style = "border: 1px solid #999999;" >小計</th>
                <th class="alert alert-info",  style = "border: 1px solid #999999;" ></th>
              </tr>
            </thead>

　　　  <tbody>
　　　    <% @cart_items.each do |cart_item| %>
　　　    <tr>
            <td style = "border: 1px solid #999999;">
              <%= image_tag cart_item.item.image, size: "60x60", class: "img-fluid" %>
              <%= cart_item.item.name %>
            </td>
            <td style = "border: 1px solid #999999;"><%= number_with_delimiter(cart_item.item.with_tax_price) %></td>
            <td style = "border: 1px solid #999999;">
              <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true) do |f| %>
                <%= f.select :amount, options_for_select(1..5, cart_item.amount), class: "form-control" %>
                <%= f.submit "変更", class: "btn btn-outline-info btn-sm" %>
              <% end %>
            </td>
            <td style = "border: 1px solid #999999;">
              <%= number_with_delimiter(cart_item.subtotal) %>
            </td>
            <td style = "border: 1px solid #999999;">
              <%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
            </td>
          </tr>
　　　    <% end %>
　　　  </tbody>
　　　 </table>
　　　 <%= link_to '買い物を続ける',root_path, class: 'btn btn-primary'%>
　　 <div style="float: right; width:25%;">
       <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="alert alert-info",  style = "border: 1px solid #999999;">合計金額</td>
            <td style = "border: 1px solid #999999;"><%= number_with_delimiter(@cart_items.sum(&:subtotal)) %></td>
          </tr>
        </tbody>
       </table>
     </div>
　　</div>
   </div>
   <div class="row justify-content-center">
     <div class="col-md-12 text-center">
       <% if @cart_items.empty? %>
       <h4 class ='btn btn-outline-danger'>現在カートに商品はありません。</h4>
       <% else %>
       <%= link_to '注文情報入力へ進む', new_order_path, class: 'btn btn-outline-success' %>
       <% end %>
     </div>
   </div>
  </div>
</div>

