<h3 class = "row justify-content-center col-2 mt-4 ml-5 bg-light" >注文情報確認</h3>

    <div class = "row ml-5 col-12" >
        <table class = "table table-striped table-bordered col-6" >
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
            </thead>
            <tbody>
                <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= image_tag(cart_item.item.image, size:"120x60") %>
                            <%= cart_item.item.name %>
                        </td>
                        <td>
                            <%= number_with_delimiter(cart_item.item.with_tax_price) %>
                        </td>
                        <td>
                            <%= cart_item.amount %>
                        </td>
                        <td>
                            <%= number_with_delimiter(cart_item.subtotal) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <div class = "m-5" ></div>

        <table class ="table table-striped table-bordered col-4" >
            <thead>
                <th>送料</th>
                <th>商品合計</th>
                <th>請求金額</th>
            </thead>
            <tbody>
                <td><%= @shopping_cost %></td>
                <td>
                    <%= number_with_delimiter(@cart_items.sum(&:subtotal)) %>
                </td>
                <td>
                    <%= number_with_delimiter(@cart_items.sum(&:subtotal)+@shopping_cost) %>
                </td>
            </tbody>
        </table>

    </div>

    <div class = "m-5" ></div>

    <div class = "row" >
        <div class = "m-5" ></div>
        <div>
            <h4 class = "justify-content-center ml-5" >支払方法</h4>
        </div>
        <div class = "ml-5" >
            <% if @selected_payment_method == "0" %>
              クレジットカード
            <% else %>
              銀行振込
            <% end %>
        </div>
    </div>

    <div class = "row" >
        <div class = "mr-5 ml-5" ></div>
        <div>
            <h4 class = "justify-content-center ml-5">お届け先</h4>
        </div>

        <div class = "ml-5" >
            <%= @selected_address %>
        </div>

    </div>

    <div class = "row" >
        <div class = "col-5" ></div>
        <div class = "col" >
        <%= form_with model: @order, method: :post, url: orders_path do |f| %>
        <%= f.hidden_field :post_code, :value => @order.post_code %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :shopping_cost, :value =>@shopping_cost %>
        <%= f.hidden_field :total_payment, :value => @cart_items.sum(&:subtotal)+@shopping_cost %>
        <%= f.hidden_field :status, :value => @order.status %>
        <%#= f.hidden_field :item_name, :value => @cart_items %>
        <%= f.submit"注文を確定する", class: "btn btn-success mt-5" %>
        <% end %>
        </div>
    </div>
