
<div class = "ml-5" >
    <div class = "col-12" >
      <h4 class ="row justify-content-center col-2 mt-4 ml-5 bg-light" >注文情報入力</h4>
    </div>
  <h2>お支払い方法</h2>
    <%= form_with model: @order, url: check_orders_path, method: :post,local: true do |f| %>
    <table>
    <tr>
      <td>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked", class:"ml-4" %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%#= f.label :payment_method, Order.payment_methods[:credit_card], {value: :クレジットカード} %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1), class:"ml-4" %>
        <%= f.label :payment_method, "銀行振込" %>
      </td>
    </tr>
    </table>

      <h2>お届け先</h2>

      <div class = "ml-4" >
        <%= radio_button_tag :address_option, 0, checked: true %>
        <%#= f.radio_button :address, 0, checked: "checked", class:"ml-4" %>
        <%= f.label :address, "ご自身の住所" %><br />
      </div>
        <div class = "ml-5" >
          <%= @customer.full_address %>
        </div>

  <table>
    <tr>
      <td>
        <div class = "ml-4" >
          <%= radio_button_tag :address_option, 1 %>
          <%#= f.radio_button :address, 1, class:"ml-4" %>
          <%= f.label :address, "登録済みの住所から" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class = "ml-5" >
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address) %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class = "ml-4" >
          <%= radio_button_tag :address_option, 2, class:"ml-4" %>
          <%#= f.radio_button :address, 2, class:"ml-4" %>
          <%= f.label :address, "新しいお届け先" %>
        </div>
      </td>
    </tr>
  </table>

  <div class = "row col-12" >
    <div class = "col-2 ml-4" >
      <%= f.label :郵便番号（ハイフンなし） %>
    </div>
    <div class = "col-2 ml-0" >
      <%= f.text_field :post_code, class: 'form-control address_post_code' %>
    </div>
  </div>

  <div class = "row col-12" >
    <div class = "col-2 ml-4" >
      <%= f.label :住所 %>
    </div>
    <div class = "col-5 ml-0" >
      <%= f.text_field :address, class: 'form-control address_address' %>
    </div>
  </div>

  <div class = "row col-12" >
    <div class = "col-2 ml-4" >
      <%= f.label :宛先 %>
    </div>
    <div class = "col-2 ml-0" >
      <%= f.text_field :name, class: 'form-control address_name' %>
    </div>
  </div>

      <%= f.submit "確認画面へ進む", class: "justify-content-center btn btn-sm btn-success" %>
    <% end %>

</div>
