<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class = "border-bottom h-100 row" >
      <h1 class = "m-5 border col-4">LOGO</h1>

      <ul>
        <li>
          <div class = "" >
            <%= link_to "About", about_path %>
          </div>
        </li>
      </ul>

    </header>

    <%= yield %>
  </body>
</html>
